@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>The website "jdkaim-minesweeper.azurewebsites.net" is one of the games at the forefront of Minesweeper innovation. From InstaFlags to incredible design to a leaderboard, it showcases what can be done with Minesweeper in the future.</p>
