@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Minesweeper</h1>
        <p class="lead">Welcome to Minesweeper. To start a new game, press any of the links below.</p>
        @Html.ActionLink("New Easy Game", "NewEasy", "Game") |
        @Html.ActionLink("New Medium Game", "NewMedium", "Game") |
        @Html.ActionLink("New Hard Game", "NewHard", "Game") |
        @Html.ActionLink("New Custom Game", "Custom", "Game")
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>More about the creator</h2>
        <p>
            JD Kaim is a very cool guy who made this game with his brother, Thomas Kaim.
        </p>
        <p><a class="btn btn-default" href="https://www.jdkaim.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See more games</h2>
        <p>More games are coming soon. Please wait for the games to come out to the website.</p>
        <p><a class="btn btn-default" href="https://www.jdkaim.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>I don't host web sites.</p>
        <p><a class="btn btn-default" href="https://www.jdkaim.com/">Learn more &raquo;</a></p>
    </div>
</div>
